<nav class="navbar navbar-expand-lg bg-success-subtle border-bottom border-success-subtle shadow-lg rounded p-2 mb-3" >
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="./Logo_02.png" alt="Logo" alt="Logo" width="200" height="50" class="d-inline-block align-text-center">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse align-text-center justify-content-end" id="navbarNav">
      <div class="navbar-nav b-grid">
        <a class="nav-link active text-success" aria-current="page" href="#">Home</a>
        <a class="nav-link text-success" href="#">Servicios</a>
        <a class="nav-link text-success" href="#">Productos</a>
        <a class="nav-link text-success" href="#">Eventos</a>
        <a class="nav-link text-success" aria-disabled="true">Contacto</a>
      </div>
    </div>
  </div>
</nav>
